<div class="text-center" style="margin-top:20px;" id="share-buttons">
    <p>
        <img style="width:60px;" alt="Share on Twitter" src="/images/twitter.png" onclick="window.open('https://twitter.com/share?text=@ViewData["Title"]&amp;url=@ViewData["Canonical"]', 'TwitterShareDialog', 'width=640,height=480');">
        <img style="width:60px;" alt="Share on Facebook" src="/images/facebook.png" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=@ViewData["Canonical"]', 'FbShareDialog', 'width=640,height=480');">
        <img style="width:60px;" alt="Share on LinkedIn" src="/images/linkedin.png" onclick="window.open('https://www.linkedin.com/shareArticle?mini=true&amp;url=@ViewData["Canonical"]&amp;title=@ViewData["Title"]', 'LinkedinShareDialog', 'width=640,height=480');">
    </p>
</div>