<div class="text-center">

    <p class="text-center"><img class="circle-image-headshot" src="~/images/lee-englestone.jpg" alt="Lee Englestone" title="Lee Englestone" /></p>

    <p>My name is Lee Englestone, I am a Software Development Manager from Stockport, UK.</p>

    <p>I created CodeReviewChecklist.com to help remind developers about some of the things we should be doing when reviewing code. I hope you find it useful.</p>

    <p>You can find me on Twitter at <a href="http://www.twitter.com/leeenglestone">@@LeeEnglestone</a> and YouTube at <a href="https://youtube.com/leeenglestone">YouTube.com/LeeEnglestone</a></p>

    <p>If you want to <a href="https://www.linkedin.com/in/leeenglestone/">connect with me on LinkedIn</a>, feel free (unless you're a recruiter, then please don't).</p>

    <p>You may also be interested in some of my other websites <a href="https://www.visualstudiotips.co.uk">VisualStudioTips.co.uk</a>, <a href="https://www.hackathontips.com">HackathonTips.com</a> and <a href="https://xamarinarkit.com">XamarinArkit.com</a></p>

    <p>You can read about my other projects at <a href="http://www.manchesterdeveloper.com">www.ManchesterDeveloper.com</a></p>

</div>