@{
}
<h1 class="display-4">Open Source Contributions</h1>

<p>This website is open source on <a href="https://github.com/leeenglestone/CodeReviewChecklist/">GitHub</a>, so you can help make it better!</p>

<p>There are existing issues ranging from layout, content and design. You can also make your own suggests.</p>